<meta name="google-site-verification" content="PR1vYF_Y-d6T4qwhD63BkjGGDQyXgI7hjPNSbUQnYP0"/>
<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Conferences</h3>
    <div class="row g-5 mb-5">
      <div class="col-md-7">
        <h4>Md Babul Islam</h4> 
        <p>Researcher | &nbsp; University of Calabria</p>
        <p>ICT | &nbsp; Cosenza, Calabria, Italy</p>
        <!-- <p>Phone: +34 xxx xx xx xx </p> -->
        <p>Email: &nbsp; <b>babulcseian@gmail.com | &nbsp mdbabul.islam@dimes.unical.it</b></p>
        <!-- <p>Office: xxxxx </p> -->
      </div>
      <div class="col-md-5">
        <img src="{{ site.github.url }}/assets/img/Unical and CNR .jpg" alt="Contact" width="10%">
      </div>
    </div>
  </div>
</div>
